<div class="container">
	<h1 class="about-header">Welcome to my first Web app</h1>
	<p class= "about-p">This web app was created by me in my second week at bitmaker labs.</p>
	<p class= "about-p">It is not impressive but nevertheless i am proud :). It was a</p>
	<p class= "about-p">difficult process but i prevailed. The toughest part of this</p>
	<p class= "about-p">project was integrating the ruby code with the HTML and CSS</p>
	<p class= "about-p">This app stores contacts in an Sql database. In the future</p>
	<p class= "about-p">i may add more features. But for now, it is what it is.</p>
	<!-- <p id="enjoy">Enjoy!</p> -->
</div>