* {
	margin: 0;
	padding: 0;
}

/*these selectors apply to the layout page*/
header{
	position: fixed;
	width: 100%;
}
header h2 {
	font-family: Lobster;
	background-color: white;
	font-size: 50px;
}

body {
	background-color: #7F7D61;
	text-align: center;
}

a {
	text-decoration: none;
}

nav a:hover {
	color: red;
}
nav a:visited {
	color: white;
}

.nav-link-container {
	background-color: #000;
	color: #fff;
}

.nav-link-list {
	text-align: center;
	font-family: 'shadows into light';
	padding: 16px 0;
	margin: 0;
	list-style: none;
}

.nav-links {
	display: inline;
	margin-left: 60px;
}

.nav-links:first-of-type {
	margin-left: 0;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/*These layous apply to the add contacts page*/

.container {
	margin: 150px auto 50px auto;
	padding: 80px 50px;
  display: inline-block;
	background-color: white;
	border-radius: 100%;
	border: 1px solid black;
	text-align: center;
}

#submit {
	margin-top: 10px;
}

.field {
	margin-bottom: 5px;
}

.field label {
	display: inline-block;
	width: 75px;
}

/*These selectors apply to the contacts erb*/

.header-display{
	padding-top: 
}

#see-contacts {
	font-family: "Lato";
	color: black;
	padding-top: 140px;
}

/*This code applies to the details page*/

.contact-container {
    width: 200px;
    margin: 0 auto;
    padding-top: 140px;
    font-family: Lato;
}

.text-left {
	text-align: left;
}

/*This code applies to the details page*/

.about-header {
	font-family: "Shadows Into Light";
	padding-bottom: 15px;
}

.about-p {
	font-family: "Lato";
	padding-bottom: 5px;
}

/*#enjoy {
	text-align: center;
	font-family: "Lato";
	padding-bottom: 1px;
}

*/